<!DOCTYPE html>
<html>
    <head>
        <title>VIYAS AIRWAYS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        
        <div class="jumbotron">
            <div id="landing-header">
                <h1>Welcome to <i>Viyas Airways</i></h1>
                <h3>Feel the journey!</h3>
           </div>
           
        </div>
        <div class="container">
            <a href="/login"  class="btn btn-primary btn-lg">LOGIN / REGISTER</a>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          
        
<%-include("./partials/footer") %>